#viewport {
    margin: auto;
    border-radius: 5px;
    background-image: url("assets/another-theater-picture.png");
    background-repeat: no-repeat;
}

#canvas-wrap {
    width: 100%;
    text-align: center;
    width: 1200px;
    height: 1200px;
}