#viewport {
    margin: auto;
    border-radius: 5px;
    background-image: url("assets/another-theater-picture.png");
    background-repeat: no-repeat;
}

#canvas-wrap {
    width: 100%;
    text-align: center;
    height: 1200px;
}

@media (max-width: 800px) {
  #viewport {
    width: 700px;
    height: 90%;
    background-image: url("assets/theater-picture-for-mobile.jpg");
    background-repeat: no-repeat;
  }
}
